<!DOCTYPE html>
<html>

<head>
     <title>Peoples CRUD</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
          crossorigin="anonymous"></script>
</head>

<body>
     <%-include layout%>
          <div class="container my-4">
               <h2 class="header text-center"><strong>ตารางผู้คน</strong></h2>

               <% if(messages.error){ %>
                    <div class="alert alert-danger">
                         <%= messages.error %>
                    </div>
                    <% } %>
                         <% if(messages.success){ %>
                              <div class="alert alert-success">
                                   <%= messages.success %>
                              </div>
                              <% } %>


                                   <!--*    card  -->
                                   <div class="card" style="background:none;">
                                        <!--*   Header  -->
                                        <div class="card-header"
                                             style="border-top-left-radius: 20px;border-top-right-radius: 20px">
                                             <ul class="nav nav-pills ">
                                                  <li class="nav nav-item">
                                                       <h3><strong>แสดงข้อมูล</strong></h3>
                                                  </li>
                                                  <li class="nav nav-item ml-auto">
                                                       <a href="" class="nav-link btn btn-outline-primary ">เพิ่ม</a>
                                                  </li>
                                             </ul>
                                        </div>

                                        <!--*-body -->
                                        <div class="card-body">
                                             <form action="/peoples/add" method="post" class="offset-3 col-6">
                                                  <div class="form-group">
                                                       <label><strong>ชื่อ</strong></label>
                                                       <input type="text" name="name" class="form-control"
                                                            value="<%=name%>">
                                                  </div>
                                                  <div class="form-group">
                                                       <label><strong>เมือง</strong></label>
                                                       <input type="text" name="city" class="form-control"
                                                            value="<%=city%>">
                                                  </div>
                                                  <div class="form-group">
                                                       <input type="submit" value="บันทึก"
                                                            class="btn btn-outline-primary">
                                                  </div>


                                             </form>
                                        </div>

                                   </div>

          </div>
</body>

</html>